<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rongtuoyouxuan.app">

    <application>
        <activity
            android:name="com.rongtuoyouxuan.app.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx9ccc2d5883fae2a7" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rongtuoyouxuan.app.Open3rdpayActivity"
            android:exported="false" >
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>