<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rongtuoyouxuan.libgift">

    <application>
        <activity
            android:name="com.rongtuoyouxuan.libgift.view.activity.GiftDialogActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/dialog_activity_styles"/>

        <activity
            android:name="com.rongtuoyouxuan.libgift.view.activity.GiftDescActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialog_activity_styles"/>
    </application>
</manifest>
